/.zig-cache/
/grammars/
/vcpkg/
/vcpkg_installed/
/zig/
/.idea/.gitignore
/.idea/c-tree-sitter.iml
/.idea/editor.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/build/CMakeFiles/3.22.1/CompilerIdC/a.out
/build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/3.22.1/CMakeSystem.cmake
/build/CMakeFiles/Progress/1
/build/CMakeFiles/Progress/2
/build/CMakeFiles/Progress/3
/build/CMakeFiles/Progress/4
/build/CMakeFiles/Progress/5
/build/CMakeFiles/Progress/6
/build/CMakeFiles/Progress/7
/build/CMakeFiles/Progress/8
/build/CMakeFiles/Progress/9
/build/CMakeFiles/Progress/10
/build/CMakeFiles/Progress/11
/build/CMakeFiles/Progress/12
/build/CMakeFiles/Progress/13
/build/CMakeFiles/Progress/14
/build/CMakeFiles/Progress/15
/build/CMakeFiles/Progress/16
/build/CMakeFiles/Progress/count.txt
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-c/src/parser.c.o
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-c/src/parser.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-css/src/parser.c.o
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-css/src/parser.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-css/src/scanner.c.o
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-css/src/scanner.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-html/src/parser.c.o
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-html/src/parser.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-html/src/scanner.c.o
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-html/src/scanner.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-javascript/src/parser.c.o
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-javascript/src/parser.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-javascript/src/scanner.c.o
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-javascript/src/scanner.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-json/src/parser.c.o
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-json/src/parser.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-kotlin/src/parser.c.o
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-kotlin/src/parser.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-kotlin/src/scanner.c.o
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-kotlin/src/scanner.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-python/src/parser.c.o
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-python/src/parser.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-python/src/scanner.c.o
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-python/src/scanner.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/grammars/tree-sitter-sql/src/parser.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/src/api.c.o
/build/CMakeFiles/tree_sitter_tokenizer.dir/src/api.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/src/parser_manager.c.o
/build/CMakeFiles/tree_sitter_tokenizer.dir/src/parser_manager.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/src/token.c.o
/build/CMakeFiles/tree_sitter_tokenizer.dir/src/token.c.o.d
/build/CMakeFiles/tree_sitter_tokenizer.dir/build.make
/build/CMakeFiles/tree_sitter_tokenizer.dir/cmake_clean.cmake
/build/CMakeFiles/tree_sitter_tokenizer.dir/compiler_depend.make
/build/CMakeFiles/tree_sitter_tokenizer.dir/compiler_depend.ts
/build/CMakeFiles/tree_sitter_tokenizer.dir/depend.make
/build/CMakeFiles/tree_sitter_tokenizer.dir/DependInfo.cmake
/build/CMakeFiles/tree_sitter_tokenizer.dir/flags.make
/build/CMakeFiles/tree_sitter_tokenizer.dir/link.txt
/build/CMakeFiles/tree_sitter_tokenizer.dir/progress.make
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/CMakeFiles/CMakeOutput.log
/build/CMakeFiles/Makefile.cmake
/build/CMakeFiles/Makefile2
/build/CMakeFiles/progress.marks
/build/CMakeFiles/TargetDirectories.txt
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/Makefile
/old/CMakeLists.txt
/old/rebuild.sh
